.newsCard{
    background-color: rgba(255,216,93);
}
.newsCardEven{
    background-color: rgb(243, 220, 145);
}
.newsCard, .newsCardEven{
    position: relative;
    min-width: 300px;
    width: 250px;
    height: 370px;
    text-align: center;
    margin-right: 30px;
}
.newsCard>div:nth-child(1), .newsCardEven>div:nth-child(1){
    font-size: 0.8em;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 15px;
}
.logoDiv{
    display: flex;
    width: 70%;
    margin-left: 14.5%;
    margin-bottom: 25px;
}
.logo{
    width: 100%;
}
.newsCard>div:nth-child(1)>i, .newsCardEven>div:nth-child(1)>i{
    font-size: 5px;
}
.newsCard>div:nth-child(3), .newsCardEven>div:nth-child(3){
    width: 82%;
    font-size: 1.5em;
    margin-left: 8.5%;
    margin-bottom: 60px;
    color: rgb(27, 27, 27);
    font-weight: lighter;
}
.newsCard-container {
    padding: 0 4vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.newsCard-container::-webkit-scrollbar {
    display: none;
}
.newsCard>a, .newsCardEven>a{
    position: absolute;
    bottom: 25px;
    left: 36.5%;
}
.pre-btn, .nxt-btn{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid rgba(38,126,107);
}
#sliderBtnDiv{
    display: flex;
    gap:2%;
    margin-left: 47vw;
    margin-top: 25px;
}
#sliderBtnDiv i{
    font-size: medium;
    color: rgba(38,126,107);
}
.pre-btn:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: all ease 0.2s;
}
.nxt-btn:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: all ease 0.2s;
}